html {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #252C32;
}

p {
  font-size: 20px;
  color: #667085;
  line-height: 30px;
}

.analytics .buttons {
  margin-bottom: 64px;
}
.analytics .buttons .button_1 {
  border-radius: 8px;
  border: 1px;
  height: 60px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  border: 1px solid #D0D5DD;
  gap: 14px;
}
.analytics .buttons .button_2 {
  border-radius: 8px;
  border: 1px;
  height: 60px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #7F56D9;
  color: white;
}
.analytics .buttons img {
  width: 20px;
  height: 20px;
}
.analytics .mockup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1920px) {
  .container {
    width: 1520px;
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    color: #101828;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -2%;
    text-align: center;
  }
  p {
    width: 768px;
    text-align: center;
    margin: 24px auto 48px;
  }
  .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 12px;
  }
  .button_1 {
    width: 143px;
  }
  .button_2 {
    width: 121px;
  }
  .mockup {
    width: 1520px;
  }
}
@media (max-width: 1280px) {
  .container {
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    color: #101828;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -2%;
    text-align: center;
  }
  p {
    width: 768px;
    text-align: center;
    margin: 24px auto 48px;
  }
  .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 12px;
  }
  .button_1 {
    width: 143px;
  }
  .button_2 {
    width: 121px;
  }
  .mockup {
    width: 1120px;
  }
}
@media (max-width: 360px) {
  .container {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    font-size: 28px;
    line-height: 140%;
  }
  .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .button_1 {
    width: 300px;
  }
  .button_2 {
    width: 300px;
  }
  .mockup {
    width: 285px;
  }
  p {
    width: 300px;
    font-size: 16px;
    text-align: center;
  }
}