* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: #344054;
  margin-inline: auto;
}
.container {
  max-width: 1520px;
  margin: 96px auto;

}
.request {
  display: flex;
  img {
    max-width: 800px;
    max-height: 854px;
  }
}
.form {
  margin: 96px 104px;
  max-width: 512px;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 24px;
}
h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
}
#name, #email, #pass {
  width: 512px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #D0D5DD;
  margin-top: 6px;
  padding-left: 16px;
}
.Gender_items {
  display: flex;
  gap: 64px;
}
#Man, #Woman {
  margin-right: 12px;
}
.Agree_items {
  display: flex;
  gap: 12px;
}
p {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
}

.Select {
  height: 48px;
  border-radius: 8px;
  width: 116px;
  border: 1px solid #D0D5DD;
  background-color: #fff;
}
.Register {
  height: 48px;
  border-radius: 8px;
  width: 512px;
  background-color: #7F56D9;
  color: #fff;
  border: 1px solid #7F56D9;
}
span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #667085;
  a {
    color: #667085;
  }
}

@media (max-width: 1280px) {
  .container {
    width: 1120px;
  }
  img {
    width: 551px;
  }
  .form {
    width: 569px;
    margin: 96px 28px;
  }
}
@media (max-width: 760px) {
  .container {
    width: 760px;
    height: 1230px;
    margin: 60px 60px;
  }
  .request {
    display: flex;
    flex-direction: column;
  }
  img {
    width: 640px;
    height: 400px;
  }
  .form {
    width: 639px;
    height: 662px;
    margin-left: 63px;
    margin-right: 63px;
  }
}