html {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #252C32;
}
.container {
  margin-left: 80px;
  margin-right: 80px;
}
.wrapper {
  position: relative;
}
ul {
  list-style: none;
}