html {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #252C32;
}
.container {
    width: 1520px;
    margin-left: auto;
    margin-right: auto;
}
h3 {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
}
p {
    text-align: center;
    font-size: 20px;
    color: #667085;
    line-height: 30px;
    margin-bottom: 7px;
}
.menu-container {
    margin-left: 376px;
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    margin-top: 57px;
    gap: 24px;
    align-items: center;
}
.p_question {
    display: flex;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    width: 720px;
    color: #101828;

}
.p_answer {
    width: 720px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}
.icon {
    border-radius: 50px;
    border: 2px solid #7F56D9;
    cursor: pointer;
    width: 20px;
    height: 20px;
    font-size: 24px;
    user-select: none;
    margin-left: 10px;
    margin-top: 18px;
}
.menu-container .icon span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    color: #7F56D9;
    transition: all 0.5s;
}
#toggle, #toggle2, #toggle3, #toggle4, #toggle5, #toggle6 {
    display: none;
}
.sign::after {
    content: "+";
    transition: all 0.2s ease;
}
#toggle:checked + .icon .sign::after, #toggle2:checked + .icon .sign::after, #toggle3:checked + .icon .sign::after, #toggle4:checked + .icon .sign::after, #toggle5:checked + .icon .sign::after, #toggle6:checked + .icon .sign::after {
    content: "-";
}
.menu, .menu-2, .menu-3, .menu-4, .menu-5, .menu-6 {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    margin-top: 35px;
}
#toggle:checked ~ .menu, #toggle2:checked ~ .menu-2, #toggle3:checked ~ .menu-3, #toggle4:checked ~ .menu-4, #toggle5:checked ~ .menu-5, #toggle6:checked ~ .menu-6   {
    max-height: 500px;
    opacity:1;
}